.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #081c24;;
  height: 123px;
  line-height: 85px; 
  color: white;
  text-align: left; 
  position: fixed;
  width: 100%; 
  z-index: 10; 
}

.Cast{
  padding: 20px; 
  text-align: left; 
}

.Cast h3{
  font-weight: normal;
  margin-top: 40px;
}

.Cast .Cast-member{
  background: white; 
  text-align: left; 
  margin: 2em;
  max-width: 185px; 
  padding-bottom: 5px; 
}

.Cast .Cast-member b{
  display: block; 
  margin-top: 5px;
  margin-left: 10px;
}

.Cast .Cast-member span{
  margin-top: 5px;
  margin-left: 10px;
}

.Cast .Flex-container{
  flex-wrap: wrap;
}

.Feature{
  display: inline-block;
  font-size: .9em;  
  margin: 20px; 
  text-align: left; 
}

.Horizontal-container{
  max-width: 950px; 
  margin: auto; 
  padding: 0px 20px; 
}

.App-title {
  font-size: 1.1em;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle; 
}

i.App-title{
  font-size: 3em; 
}


.Flex-container{
  display: flex; 
  justify-content: center;
  clear: both; 
}

.Genres{
  display: block;
  text-align: left;
  padding-bottom: 40px;
}

.Genres span{
  border-radius: 22px;
  background-color: #50e3c2;
  color: #535d65;
  padding: 4px 14px;
  margin: 0px 10px;
}

.Movie-card{
  background: white; 
  display: flex; 
  flex: 1 0 45%; 
  margin: 15px; 
  box-shadow: 0px 0px 20px rgba(120,120,120,.2);   
}


.Movie-card a{
  padding-left: 30px;
  cursor: pointer;
  transition:all ease .2s; 
}

.Movie-card a:hover{
  transform: translate(5px,0px); 
}

.Movie-card .Details{
  color: #071c24; 
  display: inline-block; 
  max-width: 260px; 
  text-align: left;
  padding-top: 22px; 
  position: relative; 
  vertical-align: top; 
}

.Movie-card .Details p{
  font-size: .9em; 
  line-height: 1.2em; 
  padding-right: 25px;
  padding-left: 30px; 
  height: 145px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.Movie-card h4{
  margin: 0px; 
  padding-left: 30px; 
  cursor: pointer;
}

.Movie-card img{
  cursor: pointer; 
}

.Movie-card .Details .Score{
  font-weight: bold; 
  position: absolute;
  top: 22px;
  right: 20px;
}

.Movie-card .Subtitle{
  font-size: .8em; 
  padding-left: 30px; 
  color: rgb(155, 155, 155); 
}

.Movie-detail-view{
  padding-top: 120px;
  left: 0px;
  width: 100%;
  background: #f4f4f4;
}

.Movie-detail-view h2{
  font-size: 2.2em;
}

.Movie-detail-view h2 span{
  font-weight: normal; 
}

.Movie-detail-view .Crew-member{
  margin-top: 10px; 
}

.Movie-detail-view .Crew-member span{
  font-size: .8em; 
}

.Movie-detail-view .Score-details span:first-child{
  font-size: 2em;
  background: #535d65;  
  padding: 22px 8px;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 20px; 
}

.Movie-detail-view p {
  font-size: 1.2em; 
  line-height: 1.3em; 
  margin-top: 3em; 
}

.Movie-detail-view .main-detail{
  background-image: linear-gradient(to bottom, rgb(111, 194, 173), rgba(83, 93, 101, 0.93));
  padding-top: 120px; 
  padding-bottom: 40px;
}

.Movie-detail-view .main-detail img{
  width: 343px; 
  max-height: 513px; 
}

.Movie-detail-view .details{
  color: white;
  text-align: left;
  padding: 20px;
}


.Movie-list{
  display: flex; 
  flex-wrap: wrap;
  padding-top: 12em;
}

.Other-data b{
  display: block; 
  margin-bottom: 8px; 
}

.Other-data h5, .Other-data h3{
  float: left; 
}

.Other-data a{
  text-decoration: none;
  color: lightblue;
}

.Search-bar{
  background: #fff; 
  font-size: 1.4em;
  color: #8592a7;  
  min-height: 50px;
  line-height: 2.4em;
  text-align: left; 
}

.Search-input{
  border: none;
  color: #8592a7;
  display: inline-block; 
  font-size: 1em;
  margin-left: 15px;
}

.White-btn{
  border: 2px solid white;
  padding: 10px 12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: left; 
  margin: 15px 0px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
